<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='assets/images/favicon.svg') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='assets/images/favicon.png') }}">
</head>
<body>
    <div class="container">
        <h1>Select a City</h1>
        <div class="city-list">
            {% for city in cities %}
                <div class="city-item">
                    <a href="{{ url_for('citylist', city_id=city[0]) }}" class="city-link">
                        <img src="{{ url_for('static', filename='assets/images/' + city_images.get(city[1], 'default.jpg')) }}" alt="{{ city[1] }} Image" class="city-image">
                        <span>{{ city[1] }}</span>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
